/* Add styles here */
h1{
    color:aqua;
    font-weight;bold; text-shadow: 38px;
}
h2{
    color:cornflowerblue;
}
h3{
    color:blueviolet;
    font-variant: 28px #000;
}
h4{
    color:blue;
}
h5{
    color:brown;
}
h6{
    color:#359;
    font-size: 30px;
}
